@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: #121213;
    color: white;
}

.no-match {
    background-color: #3a3a3c;
}

.partial-match {
    background-color: #b59f3b;
}

.exact-match {
    background-color: #538d4e;
}